<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Press+Start+2P&family=Roboto&family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
        />
        <title>lucky game</title>
    </head>
    <body>
        <section>
            <div>
                <h2 class="father">welcome to</h2>
                <h1 class="child">lucky <span> game</span> 🎲</h1>
                <button class="btn btncreate">create room 🚥</button>

                <button class="btn btnjoin">enter room 👬</button>
                <input
                    type="text"
                    placeholder="room id"
                    class="roomid hidden"
                />
                <button class="btn btnsubmit hidden">join ✅</button>
                <button class="btn btnlocal">play localy 🤝</button>

                <h3 class="text">The player with the most luck wins🏆</h3>
            </div>
        </section>
        <script src="landing.js"></script>
    </body>
</html>
